@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1jkonz');
    src: url('../fonts/icomoon.eot?1jkonz#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?1jkonz') format('truetype'), url('../fonts/icomoon.woff?1jkonz') format('woff'), url('../fonts/icomoon.svg?1jkonz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-loading{
    animation: rotate 1s infinite steps(8);
    &:before{
        content: "\e904";
    }
}

.icon-success:before {
    content: "\e900";
}

.icon-error:before {
    content: "\e901";
}

.icon-info:before {
    content: "\e902";
}

.icon-refresh:before {
    content: "\e903";
}


@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.boxBounceIn {
    animation-name: bounceIn;
    animation-duration: .75s;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes bounceIn {
    0%,20%,40%,60%,80%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    20% {
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        transform: scale3d(.97,.97,.97)
    }

    to {
        opacity: 1;
        transform: scaleX(1)
    }
}
