@charset "UTF-8";
@import 'core/variables';
@import 'core/function';
@import 'icons';

* {
    box-sizing: border-box;
    padding: 0;margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

ul {
    list-style: none;
}

.toast{
    display: flex;
    align-items:center;
    justify-content:center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    &>div{
        display: flex;
        align-items:center;
        border-radius: 6px;
        padding:10px 20px;
        background: #2b2a2a;
        opacity: 0.9;
        color: #fff;
        &>i{
            margin-right: 0.5em;
            font-size: 1.5em;
        }
    }
}