body, .pace .pace-progress {
    background: #fff
}

body, .timeline-content h2 {
    color: #5c5c5c
}

.nav-pills > li > a {
    color: #c2c2c2
}

.form-control:focus {
    border-color: #c2c2c2
}

.navbar-default .navbar-nav > li > a {
    color: #818181
}

.slick-prev:before, .slick-next:before {
    color: #c2c2c2
}

::-moz-selection {
    background: #4eae49;
    color: #fff
}

::selection {
    background: #4eae49;
    color: #fff
}

.header, .sub-header {
    color: #fff;
    background-color: #4eae49
}

a, a:hover, a:focus, .speaker-info p, .highlighted-plan .price, .highlighted-plan .plan-name {
    color: #4eae49
}

.benefit-item .benefit-icon i {
    color: #4eae49
}

.timeline::before {
    background: #4eae49
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #4eae49
}

.timeline-bullet, .highlighted-plan {
    border-color: #4eae49
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #4eae49
}

.btn-default {
    color: #4eae49;
    border-color: #fff
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    background-color: transparent;
    border-color: #fff;
    color: #fff
}

.btn-primary {
    background-color: #5c5c5c
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #3b3b3b
}

.btn-success {
    background-color: #4eae49;
    border-color: #4eae49
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    background-color: #fff;
    border-color: #4eae49;
    color: #4eae49
}

.btn-outline {
    color: #8c8c8c;
    border-color: #cacaca
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    background-color: transparent;
    border-color: #818181;
    color: #8c8c8c
}